{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Список автомобилей</h1>

    {% if user.is_authenticated %}
    <a href="{% url 'car-create' %}" class="btn btn-primary mb-3">Добавить новый автомобиль</a>
    {% endif %}

    <div class="row">
        {% for car in cars %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Год: {{ car.year }}</h6>
                    <p class="card-text">{{ car.description|truncatewords:20 }}</p>
                    <p class="text-muted">Создатель: {{ car.owner }}</p>
                    <p class="text-muted">Дата создания: {{ car.created_at|date:"d.m.Y" }}</p>
                    <a href="{% url 'car-detail' car.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
